*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{height: 100%;}
header{height: 10vh;}
main{max-height: 80vh;}

main{
    padding: 2em;
}

button{
    position: relative;
    margin: 0 55em;
}

body{
    
    background-image: url(./img/fonsBody.jpg);
    background-repeat: repeat-x;
    background-size:cover;
    background-position:top;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}



#scoreContainer{

    height: 4em;
    width: 4em;
    display: flex;
    box-sizing: border-box;  

    margin-right: 15em;
    border: 1px solid green;
    background-color: wheat;
    float: right;

    align-items: center;
    justify-content: center;


}



#score{

    font-size: xx-large;
    font-weight: bolder;
    color: green;

}

h1{
    color: green;
    background-color: wheat;
    font-size: 48px;
    width: fit-content;
}

.taula{
    min-height: 80vh;
    min-width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;

    justify-content: center;
    

  /*  background-image: url(./img/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10%; */
    
}

.fila {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  
.caixa {
    display: flex;
    justify-content: center;
    margin: 5px;
    transition: all 1s;
    
  }

.fila2{
    display: none;
}



.caixa:hover{
    transform: scale(1.25);
    border-radius: 20px;
}